html{
    margin:0px !important;
}

body{
    font-family: $font;
    font-size:$title-size2;
    color:black;
    font-weight:400;
}

h2{
    margin:0px;
    line-height:100%;
}

.navbar{
    border-radius:0px;
}

.singleLeft{
    padding:0 10px;
    .singleEventItem{
        background: $gray2;
        border-radius:5px;
        margin-top: 40px;
        margin-bottom:40px;
        padding:0px;

        .singleEventHeader{
            @include gradient();
            border-radius:5px 5px 0px 0px;
            height:40px;
            h2{
                line-height: 40px;
                padding-left:10px;
                font-weight:400;
                font-family:$font;
                color:$gray2;
                font-size:$title-size1;
                text-transform: uppercase;

            }
        }

        .singleEventThumbnail{
            padding:0px;
            .bgimage{
                background-size: cover;
                width:100%;
                height:200px;
            }
        }

        .singleEventContent{
            padding:10px;
            font-family: $font-p;

            .singleEventInfos{
                @media screen and (max-width:$desktop-min){
                    padding:0px;
                    padding-top:10px !important;
                }

                ul{ 
                    padding:0px;
                    margin:0px;
                    list-style:none;
                    span{
                        text-transform: uppercase
                    }
                    li{
                        padding-left:10px;
                        font-family: $font-p;
                        @media screen and (max-width:$mobile){
                            padding-left:0px;
                        }
                        i{
                            margin-right:10px;
                        }
                    }

                }

                .metadata{
                    float:right;
                    text-align: right;
                    text-transform: uppercase;
                    .red{
                        color:$red !important;
                    }
                }
            }

            .singleEventTxt{
                padding:10px 0px;
                p{  
                    padding-left: 50px;
                    padding-right: 50px;
                    margin:0;
                    margin-bottom: 10px;

                    &:last-child{
                        margin-bottom:0px;
                    }
                }
            }
        }
        .singleEventMetaInfos{
            @include gradient();
            height:40px;
            text-align: right;
            padding-right:10px;
            span{
                color:$gray;
                line-height:40px;
                font:$font;
                font-size:$title-size1;
            }
        }
    }
}


.singleSidebar{
    ul{
        padding:5px !important;
        li{
            margin-bottom:5px;
            padding:5px;
            width:100%;
            @include gradient();
            border-radius:5px;
            height:50px !important;
            color:$gray !important;
            a{
                
                text-transform: uppercase;
                color:$gray !important;
                font-size: 12px;
            }
            img{
                max-width:40px;
                max-height:40px;
                border-radius:5px;
                margin-right:10px;
            }
        }
    }
    
}
